@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Inter:wght@300;400;500&family=Montserrat:wght@200;300;400;500&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 24px;
    height: 24px;
}

section{
    width: 100%;
    height: 45%;
}
/* Start header */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    height: 8em;
    padding: 0 20px;
}

.icon-heart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 18em;
}
.heart{
    width: 44px;
}
.npm-logo{
    width: 60px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.input-search{
    height: 4em;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.input, .join-login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
input{
    width: 70em;
    height: 4em;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 4em;
    outline: none;
    position: relative;
}
.search-icon{
    position: absolute;
    left: 7em;
}
.input > button{
    width: 6em;
    height: 4em;
    border: none;
    background-color: #fb3e44;
    color: white;
}
.join-login div:first-child{
    width: 6em;
    height: 4em;
    border: 1px solid black;
    text-align: center;
    padding-top: 1.2em;
}
/* Section start */
#presentation, #hexagon-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 4em 0;
    padding: 0 228px;
}
#presentation{
    background-color: rgba(232,217,217,.3);
    height: 600px;
}
h1{
    font-size: 64px;
    margin: 1em;
}

article{
    text-align: center;
    margin: 1em;
}
#presentation div:last-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
}
.link-red{
    background-color: red;
    width: 10em;
    height: 3em;
    text-align: center;
    padding-top: 0.75em;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}
/* Section number 2 */
h2{
    margin-top: 2em;
    
}
/* selector para inclinar el fondo del h2 del section hexagon-section */
span{
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}
#hexagon-section img{
    width: 15em;
    height: 15em;
}
/* section number 3 */
#articles-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    margin: 5em 0;
}
.ordering-articles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    padding: 0 5em;
}
.articles-last-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1em;
}
.articles-last-section img{
    width: 3em;
    height: 3em;
}
h3{
    color: #ED1C24;
}
#articles-section button{
    width: 40em;
    height: 3em;
    border: none;
    background-color: black;
    color: white;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}